body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

section {
  padding-top: 50px;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
